.page-index {
  span {
    padding: 0.5rem;
    background-color: rgba(green, 0.2);
    border: 0.02rem black solid;
  }
  .acitve-page {
    color: white;
    background-color: rgba(red, 0.2);
  }
}
